@import url(./base.css);

* {
padding: 0;
border: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
outline: 0;
color: inherit;
font-size: inherit;
font-family: Montserrat;
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: 700;
}


h1{
font-weight: 700;
font-size: 38px;
line-height: 46px;
}

h2{
font-weight: 700;
font-size: 30px;
line-height: 100%;
}

h3{
font-weight: 700;
font-size: 22px;
line-height: 100%;
}

.h3-caps{
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 1px;
text-transform: uppercase;
}

h4{
font-weight: 700;
font-size: 18px;
line-height: 100%;
}

h5{
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
}

p{
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
color: var(--white);
}

ul,ol{
font-weight: 400;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
}

a{
font-weight: 400;
font-size: 16px;
line-height: 20px;
transition: 0.3s;
color: var(--white);

&:hover{
color: var(--accent-color);
}

&:active{
color:var(--active-active);
}
}


.gradient{
    background:var(--gradient-super-soft);
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;

}

   .header{
    z-index: 1;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
    display: var(--flex);
    justify-content: space-between;
    align-items: var(--center);


.header-right-flex{
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    
.flex{
    display: var(--flex);
    justify-content: space-around;
    align-items: center;
    gap: 2px;

    .da{
        position: relative;
        ::after{
            position: absolute;
            right: 0;
            bottom: 50%;
            content: "";
            width: 6px;
            height: 6px;
            color: var(--white);
            border-radius: 50%;
        }
    }
}

.button-header{
    width: 35px;
    height: 25px;
    border-radius: 8px;
    color: var(--white);
    background-color: transparent;
    transition: 0.5s;

    &:hover{
        background-color: var(--accent-color);
    }
}

.flex-nav{
    display: var(--flex);
    justify-content: flex-end;
    gap: 15px;

a{
    position: relative;
&:after{
        background-color: transparent;
        content: "";
        width: 0;
        transition: 0.5s;
        height: 3px;
        position: absolute;
        bottom: -40%;
        left: 0;
        border-radius: 5px;
    }

&:hover::after {
    width: 100%;
    background-color: var(--accent-color);
    }
  }   
}
 
}

}

.section-1{
    position: relative;
    padding-top: 116px;
    min-height: 100vh;
    overflow: hidden;
 
.logo{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

.svg-logo{
    top: 0;
    height: 100%;
    width: 120vh;
    position: absolute;
    pointer-events: none;
}

.title{
    position: absolute;
    z-index: 1;
    top: 45%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: var(--gradient-text-gray);
    pointer-events: none;

}

.title-small{
    position: absolute;
    top: 57%;
    z-index: 9999;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: var(--gradient-text-gray);
    pointer-events: none;
}


.link{
    position: absolute;
    bottom: 30px;
    z-index: 9999;

    svg{
&:hover{
    color: var(--accent-color);
    transition: 0.3s;
}
      
    }
&:active{
svg{
    transform: rotate(180deg);
}
           
      }

}
}

}


.section-2{
   padding-top: 100px;
   max-width: 1200px;
   margin: 0 auto;    

.Our-values{
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
    margin: 0 60px;}
}


.option-text{
    text-align: right;
    margin: 30px;
    transition: 0.5s;
    color: var(--grey-text);
    &:hover{    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: var(--gradient-text);
}
}


.description{
    flex: 1;
}

.description-title{
    color: var(--white);
    padding-bottom: 25px;
}

.description-text{
    color: var(--white);
}


.benefit{
    margin-top: 250px;
}

.benefit-title{
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: var(--gradient-text);
}


.benefit-cards{
    margin-top: 340px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 300px 24px;
}

.card{
    display: flex;
    align-items:center;

    h3{
        color: var(--active-regular);
        padding-bottom: 10px;
}

svg{
    margin: 20px;
}

}

.card:nth-child(1),
.card:nth-child(3),
.card:nth-child(5){
    position: relative;
    top: -200px;
}


.benefit-btn{
    text-align: center;
    margin-top: 180px;
}

.button-benefit{
    transition: 0.3s;
    width: 230px;
    height: 55px;
    border-radius: 10px;
    background: var(--gradient-red-text);
    color: var(--white);
    text-transform:uppercase;
    font-weight: 700;
    text-align: var(--center);
    border: 1px solid var(--grey-text);
&:hover{
    background: transparent;
    border: 1px solid var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: var(--gradient-text);
    width: 235px;
    height: 60px;
    }
}

.reviews{
    margin-top: 320px;
    margin-bottom: 200px;
}

.reviews-title{
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: var(--gradient-text);
}

.reviews-div{
    margin-top: 110px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    gap: 120px 80px;
}

.reviews-blocks{
    border-radius: 5px;
    background:transparent;

div{
      display: flex;
      gap: 4px;
      align-items: var(--center);
}
h4{
     margin-left: 5px;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     background-image: var(--gradient-text);
     text-transform: uppercase;
      }
    

h5{
        padding-top: 15px;
        color: var(--active-regular);
    }

p{
        padding-top: 10px;
        color: var(--white);
    }

}
















/*/container/*/
}






















@media screen and (min-width:768px) {
.container{
    max-width: calc(650px + 60px + 60px);
    padding: 0 30px;
}    
}

@media screen and (min-width:1024px) {
.container{
    max-width: calc(904px + 60px + 60px);
    padding: 0 60px;
}    
}

@media screen and (min-width:1400px) {
.container{
    max-width: calc(1320px + 60px + 60px);
    padding: 0 30px;
}    
}

@media screen and (min-width:1920px) {
.container{
    max-width: calc(1320px + 60px + 60px);
    padding: 0 30px;
}    
}

