@import url(/base.css);

* {
padding: 0;
border: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
outline: 0;
color: inherit;
font-size: inherit;
font-family: Montserrat;
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: 700;
}


h1{
font-weight: 700;
font-size: 38px;
line-height: 46px;
}

h2{
font-weight: 700;
font-size: 30px;
}

h3{
font-weight: 700;
font-size: 22px;
line-height: 100%;
}

h6{
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 1px;
}

h4{
font-weight: 700;
font-size: 18px;
line-height: 100%;
}

h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

p{
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
color: var(--white);
}

ul,ol{
font-weight: 400;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
}

a{
font-weight: 400;
font-size: 16px;
transition: 0.3s;
color: var(--active-regular);

&:hover{
color: var(--accent-color);
}

&:active{
color:var(--active-active);
}
}

.a{
font-weight: 400;
font-size: 16px;
line-height: 20px;
transition: 0.3s;
color: var(--active-regular);

&:hover{
color: var(--accent-color);
}

&:active{
color:var(--active-active);
}
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;

}


  .header{
    padding-top: 30px;
    display: var(--flex);
    justify-content: space-between;
    align-items: var(--center);


.header-right-flex{
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    

.flex-nav{
    display: var(--flex);
    justify-content: flex-end;
    gap: 15px;

a{
    position: relative;

&:after{
        background-color: transparent;
        content: "";
        width: 0;
        transition: 0.5s;
        height: 3px;
        position: absolute;
        bottom: -40%;
        left: 0;
        border-radius: 5px;
    }

&:hover::after {
    width: 100%;
    background-color: var(--accent-color);
    }
  }   
}
 
}

}

.header-nav{
    display: var(--flex);
    justify-content: space-around;
    align-items: center;
    gap: 2px;

.navigation{
    display: flex;
    align-items: center;
    gap: 20px;
}

      .h5{           
        color: var(--grey-text);
        position: relative;

            &::after{
                position: absolute;
                left: -12%;
                bottom: 28%;

                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--grey-separator);
            }

            &::before{
                position: absolute;
                right: -12%;
                bottom: 28%;

                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--grey-separator);
            }
        }

       .adres{
            color: var(--grey-text);
        }
}

.button-header{
    width: 32px;
    height: 24px;
    border-radius: 8px;
    color: var(--grey-text);
    background-color: transparent;
    transition: 0.5s;

    &:hover{
        background-color: var(--accent-color);
        color: var(--white);
    }
}

.header-mobile{
    display: none;
    padding: 16px 30px 0;

      .header-nav-mobile{
      display: var(--flex);
      justify-content: space-between;
      align-items: center;
    }

    
    .navigation{
        h5{
            color: var(--grey-text);
            font-weight: 500;
        }
    }

    .header-bottom{
        position: relative;
    }

#toggle {
  display: none;
}

.hamburger {
  position: absolute;
  top: 80%;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 9999;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 5px;
  border-radius: 3px;
  background-color: var(--black);
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

#toggle:checked + .hamburger  .top-bun{
    background-color: var(--white);
}

#toggle:checked + .hamburger .meat{
    background-color: var(--white);
}
 

.nav {
    z-index: 9998;
  position: fixed;
  width: 100%;
  height: 100%;
  background:var(--gradient-super-soft);
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}

.nav-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

nav {
  text-align: center;
}

nav a {
  position: relative;
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
  font-weight: 500;

&:after{
        background-color: transparent;
        content: "";
        width: 0;
        transition: 0.5s;
        height: 3px;
        position: absolute;
        bottom: -40%;
        left: 0;
        border-radius: 5px;
    }

&:hover::after {
    width: 100%;
    background-color: var(--accent-color);
    }
  
}

nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

}



.main{
    padding: 45px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
}

.description{
    p{
        color: var(--black);
    }
p,h1,h2,h3,h4,h5{
    text-align: left;
}
}

.main-img{
    img{
        width: 100%;
        height: 486px;
        border-radius: 12px;
    }
    h5{
        color: var(--grey-text);
        margin: 0 0 30px 0;
    }

    .language{
        border: 3px solid var(--grey-separator);      
    }
}

.img-title{
    color: var(--main-color);
    margin: 25px 0 15px 0;
}

.main-description{
    border-top: 5px solid var(--grey-separator);
    padding: 20px 0 0 0;

    p:nth-child(1){
        margin: 0 0 30px 0;
    }

    
    p:nth-child(2){
        margin: 0 0 50px 0;
    }

    h3{
       color: var(--main-color);
       margin: 0 0 30px 0;
    }

    span{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: var(--gradient-red-text);
    font-weight: 700;
    margin: 0 10px 30px 10px;
    }

    p:nth-child(7){
        margin: 30px 0 50px 0;
    }

    p:nth-child(9){
        margin: 10px 0 50px 0;
        color: var(--grey-text);
        text-align: center;
    }

}

.description-img{
    width: 50%;
}

.description-title{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: var(--gradient-red-text);
    margin: 0 0 30px 0 ;
}


.main-walk{
    h3{
        color: var(--main-color);
        margin: 20px 0 15px 0;
    }

    p{
        margin: 0 0 20px 0;
    }
}

.main-form{
    display: flex;
    gap: 8px;
    border-top: 4px solid var(--grey-separator);
    padding: 20px 0 0 0;
    text-align: left;

    button{
        background-color: var(--grey-bg);
        width: 38px;
        height: 38px;
        border-radius: 16px;   
        text-align: center;
        transition: 0.3s ease;
    }

    button:hover{
     transform:scale(1.09);
     box-shadow: 0 0 3px 1px var(--active-regular);
    }
}


.lower{
    background-color: var(--grey-bg);
}



.publications{
    margin: 30px 0 0 0;
    padding: 40px 0 0 0;
}

.publications-title{
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: var(--gradient-text);
}


.publication-div{
    padding: 40px 0 0 0;
    display: grid;
    justify-content: center;
    column-gap: 28px;
    grid-template-columns: 30% 30% 30%;
}



.div-box{
position: relative;    
padding: 15px;    
border-radius: 10px;
background-color: var(--white);
border: 2px solid transparent; 
transition: 0.3s ease;  
    img{
        max-height: 200px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .title,h3{
        transition: 0.3s ease;
        color: var(--active-regular);
        margin-bottom: 10px;
    }
    h5{
        color: var(--grey-text);
        margin-bottom: 8px;
    }
}

.div-box:hover{
    border: 2px solid var(--active-regular);
    h3{
        color: var(--accent-color);
    }
}

.div-box:hover .publication-button{
    color: var(--white);
    background-color: var(--active-regular);

    svg{
        color: var(--white);
    }
}

.publication-description{
    border-top: 4px solid var(--grey-separator);
    padding: 15px 0 40px 0;
    margin: 15px 0 0 0;
    color: var(--black);
}

.publication-button{
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--active-regular);
    background-color: var(--white);
    transform: rotate(-45deg);
    text-align: center;
    transition: 0.3s ease;

    svg{
        color: var(--active-regular);
        display: block;
    }
}


.footer{
    border-top: 3px solid var(--grey-separator);
    margin: 60px 0 0 0;
    padding: 10px 0 30px 0;
 

    .upper{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 16px;

       div{
        display: flex;
        align-items: center;
        gap: 22px;
       }

     .a{
        position: relative;
        
            &::after{
                position: absolute;
                left: -20%;
                bottom: 35%;

                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #143646;
            }
        } 

        h4{
            color: var(--grey-text);
        }

        p{
            color: var(--main-color);
            &:nth-child(2){
                color: var(--grey-text);
            }
        }  
    }

    .lower{
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 12px 0 0 0;
      
        .h5{           
        position: relative;

            &::after{
                position: absolute;
                left: -12%;
                bottom: 28%;

                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #143646;
            }

            &::before{
                position: absolute;
                right: -12%;
                bottom: 28%;

                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #143646;
            }
        }
    }
}




@media (max-width: 1400px) {
    .container {
        padding-left:  60px;
        padding-right: 60px;
    }

    .main{
      grid-template-columns: 100%;
    }

    .publication-div{
        grid-template-columns: 40% 40%;
        gap: 60px 28px;
    } 

}



@media (max-width: 768px) {
    .container {
        padding-left:  30px;
        padding-right: 30px;
    }

       .header{
        display: none;
    }

    .header-mobile{
        padding: 16px 30px 0;
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

   .main-img {
    img{height: auto;
    max-height: 200px;}
}

  .publication-div{
        grid-template-columns: 80%;
        gap: 60px;
    } 

    .div-box {
    img{max-height:100%;}
}

.description-img{
    width: 80%;
    padding: 20px 0;
}

     .footer {
    display: flex;
    flex-direction: column-reverse;

    .upper{
       flex-direction: column;
       padding-top: 15px;
       align-items: center;
     }

     .lower{
        flex-direction: column-reverse;
        margin-top: 24px;

        svg{
            display: none;
        }

        h5{
            display: none;
        }
     }
   }

}



@media (max-width: 476px) {

.header-mobile{
    gap: 6px;
} 

    .header-logo{
        svg{
            width: 62%;
        }
    }

    .header-mobile {
    .hamburger{top: 95%;}
    }

    .header-mobile {
          .hamburger div{
        height: 4px;
        margin-top: 4px;
        width: 2rem;
    }
    }

    .publication-div{
        grid-template-columns: 85%;
    }

}